<div class="row houseback3">
	<div class="container">
		<br>
		<div class="container">
			<div class="container">
				<h1>Hi I'm <strong class='script'>John.</strong> I am a property manager and web developer and I built <strong class='script'>landlady.</strong></h1><br>
				<div class="well minorityreportwhite">
					<h4>Why landlady?</h4>
					<p>My day to day is a lot to manage. I work full time and I manage 12 properties. I was tired of using spreadsheets and slips of paper to try to keep up. This is my first attempt at something better. </p>
					<h4>Free? Really? What's the deal?</h4>
					<p>For now landlady is free. And I hope to keep her that way. If she gets really big I may have to start charging a small fee for new users. No promises but if you sign up early I should be able to keep your account free forver.</p>
					<h4>What about my data?</h4>
					<p>You own all your data and I will never share your data with anyone. My application also allows you to export all your data at anytime. Although your data is safe with me I do recomend you keep backups yourself periodically. Also, this is a free service I am not liable or responsible for data you may loose using this service. I will do everything I can to keep your stuff secure and safe.</p>
					<h4>What if I have problems?</h4>
					<p>Drop me a line. My email address is below. I would love to help you get set up and going, I am also always open to user feedback.</p>
					<h4>Open Source?</h4>
					<p>Yup. I don't have a clean repository and readme up yet. But that's coming soon.</p>
					</div>
					<div class="well minorityreportwhite">
					<h4 class="text-center">I hope that you find landlady as useful as I do. If you have any ideas on how we can make her better let me know.<br><br><strong>You can email me at <a href="mailto:johnsalzarulo@gmail.com">help@landlady.com</a></strong><br><br><a href="/signup" type="button" class="btn btn-success btn-lg">Get Started for Free</a></h4><br>
					</div>


				</div>
				<br><br><br>
			</div>
		</div>
	</div>
</div>

</div>