<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2>Property management simplified.</h2>
  <p>Manage properties, rent payments and your basic accounting and repairs all using one simple system.</p>
  <p><button type="button" class="btn btn-success">Learn More</button></p>
</div>
