<p id="notice"><%= notice %></p>

<div class="jumbotron">
	<h1>Property management simplified.</h1>
	<h3>Join <%= @landlord_count %> other managers who are managing <%= @property_count%> properties using this simple system.</h3>
	<h3>Focus less on emails and paperwork, get back to what matters.</h3>
	<p><a href="/signup" type="button" class="btn btn-success">Get Started</a></p>
</div>


<div class="row">
	<div class="jumotron col-md-4 text-center">
		<div class="well">
			<h1><div class="glyphicon glyphicon-inbox"></div></h1>
			<h3><strong>Everything in one place.</strong></h3>
			<h4>All your properties, tenants, payments and issues in one simple place.</h4>
		</div>
	</div>

	<div class="jumotron col-md-4 text-center" >
		<div class="well">
			<h1><div class="glyphicon glyphicon-envelope"></div></h1>
			<h3><strong>Even handles your conversations.</strong></h3>
			<h4>SMS conversations with tenants in one archivable place.</h4>
		</div>
	</div>

	<div class="jumotron col-md-4 text-center" >
		<div class="well">
			<h1><div class="glyphicon glyphicon-asterisk"></div></h1>
			<h3><strong>Simplicity and clarity.</strong></h3>
			<h4>Know what's going on in a glance. From rent payments to repairs and more.</h4>
		</div>
</div>