
<div class="container">

<div class="jumbotron row" >
<div class="jumbotron">
	<h1><div class="glyphicon glyphicon-remove"></h1>
  <h1>You have been logged out.</h1><br>
	<%= link_to 'Log In', '/login', class:"btn btn-primary" %>
</div>


</div>