/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";


.btn {
    border-radius: 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
 	background-image: url("../assets/house.jpg");
	background-size: cover;
	color: white;
}

a {
    color: inherit;
}

a:hover{
    color: inherit;
    background-color: white;
}

.navbar-default,
.navbar{
	border-radius: 0px;
	background-color: lightgreen;
}

.navbar-default .navbar-nav li a {
	color: black;
	font-size: 1.25em;
}

.navbar-brand{
	font-size: 2em;
}
.badge a {
	color: white;
}

.badge a:hover {
	background-color: gray;
}