<h1>Landlords</h1>

    <% @landlords.each do |landlord| %>
        <h3><%= link_to landlord.name, landlord %></h3>
    <% end %>

<br>

<%= link_to 'New Landlord', new_landlord_path, class:"btn btn-success"%>
