<div class="container">

<!-- THIS PAGE IS NO LONGER USEFUL TO NORMAL USERS, NO REASON TO ITERATE OVER ALL LANDLORDS -->

<h1>Landlords</h1>

<ul class="list-group">
<% @landlords.each do |landlord| %>
  <li class="list-group-item">
  				<span class="badge">Properties: <%= landlord.properties.count %></span>
  				<span class="badge">Tenants: <%= landlord.tenants.count %></span>
  	<h4><%= link_to landlord.name, landlord %></h4></li>
    <% end %>
</ul>

<br>

<%= link_to 'Set Up a Landlord', new_landlord_path, class:"btn btn-success"%>

</div>